.home-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.author-form-link {

}
.authors-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
.authors {
  display: grid;
  grid-template: 1fr 1fr/ 1fr;
  text-transform: capitalize;
}
.author-btn {
  place-self: center;
  height: 50px;
  background: none;
  color: teal;
  font-size: 20px;
}
.author-form-btn {
  height: 50px;
  background: none;
  color: teal;
  font-size: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.field label {
  padding: 10px;
}
.field input {
  margin: 10px;
}



